/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 14px/24px 'Source Code Pro';
}

/*
  ========================================
  Custom styles
  ========================================
*/

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(black, #313d5c);
}

p {
  background: black;
  border-radius: 6px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font:
    14px/24px 'Source Code Pro',
    Inconsolata,
    'Lucida Console',
    Terminal,
    'Courier New',
    Courier;
  padding: 24px 15px;
  text-align: center;
  margin-right: 10px;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  max-width: 80%;
  margin-top: 2%;
}

.container {
  display: flex;
  gap: 2%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2% 0 2%;
}

.avatar img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

/*
  ========================================
  Table
  ========================================
*/

table {
  border-collapse: collapse;
  color: #ffffff;
  text-align: center;
}

td {
  border: 1px solid #ffffff;
  padding: 10px 15px;
}

tbody tr:nth-child(even) {
  background: #292929;
}

@media (hover: hover) and (pointer: fine) {
  tr:first-child td:nth-child(n + 2):nth-child(-n + 10):hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
  }
}

td.selected:nth-child(n + 2):nth-child(-n + 10) {
  background-color: rgba(243, 255, 71, 0.37);
}
/*
  ========================================
  Dropdown Radio Textarea
  ========================================
*/

.role {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1%;
}

.role select{
  font-size: 2rem;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
}

select {
  font: 14px/24px 'Source Code Pro';
  background-color: transparent;
  color: white;
}

select option {
  background-color: #333; 
  color: white;           
}

.radio-level {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}

.radio-level label:nth-child(1),
.radio-level label:nth-child(2) {
  margin-right: 23px;
}

.radio-level label:nth-child(n + 3):nth-child(-n + 8) {
  margin-right: 35px;
}

.xpgold,
.surky,
.byliny {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.surky,
.byliny {
  margin-top: 2%;
}

.xpgold label,
.surky label,
.byliny label {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.xpgold label input,
.surky label input,
.byliny label input {
  font: 14px/24px 'Source Code Pro';
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-left: 10%;
}

.short-input {
  width: 32px;
}

/*
  ========================================
  Surky images
  ========================================
*/

.xpgold img,
.surky img,
.byliny img {
  filter: invert(100%);
  width: auto;
}

.xpgold img {
  height: 60px;
}

.surky img,
.byliny img {
  height: 35px;
}

.byliny img {
  height: 25px;
}
